<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.team_devs.Learn_Guitar_ar"
        versionCode = "3" 
        version     = "1.1.1" >

    <!-- versionCode is optional and Android only -->

    <name>تعلم العزف على الجيتار</name>

    <description>
		 تعلم العزف على الجيتار بأسهل الطرق.
    </description>

    <author href="https://coding-labs.com" email="team.devs.and@gmail.com">
        imadOs
    </author>
	<icon src="icon.png" platform="android" />
	<access origin="*" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" /> 
	<gap:plugin name="phonegap-admob" source="npm" />

	
</widget>
